body{
    background-color: rgb(243, 243, 235);
}

#mainHeader{
    font-family: 'Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
    font-size: 50px;
}

.header{
    font-family: 'Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
    font-size: 30px;
}
